RewriteEngine on
Options FollowSymLinks
 DirectoryIndex index.php
 RewriteCond $1 !^(index\.php|assets|css|js|fonts|images|img|robots\.txt|favicon\.ico)
 RewriteRule ^(.*)$ index.php/$1 [L,QSA]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
 